<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div class="card card-signin my-5">
    <div class="card-body">
      <h5 class="card-title text-center">Sign Up</h5>
      <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-label-group">
          <label for="inputEmail">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" [formControl]="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autofocus>
          

          <div [hidden]="email.valid || email.untouched">
            <div [hidden]="!email.hasError('required')" class="alert alert-danger">                         Email is required
            </div>
            <div [hidden]="!email.hasError('pattern')" class="alert alert-danger">                          Email format should be 
              <small><b>vai@abc.com</b></small>
            </div>
          </div>
        </div>

        <div class="form-label-group">
          
          <label for="inputUName"> Username </label>
          
          <input type="email" id="inputUName" class="form-control" placeholder="Username" 
          [formControl]="username">

          <div [hidden]="username.valid || username.untouched">
          
            <div [hidden]="!username.hasError('required')" class="alert alert-danger">                      username is required
            </div>            
          
            <div [hidden]="!username.hasError('minlength')" class="alert alert-danger">                    username should be greater than 5                
            </div>
          
          </div>

        </div>

        <div class="form-label-group">

          <label for="inputPassword">
            Password
          </label>
          
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" [formControl]="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$">
          
          <div [hidden]="password.valid || password.untouched">
            <div [hidden]="!password.hasError('minlength')" class="alert alert-danger">       password should be greater than 5                
            </div>
            <div [hidden]="!password.hasError('required')" class="alert alert-danger">       password is required
            </div>
            <div [hidden]="!password.hasError('pattern')" class="alert alert-danger">            Password must contain 
              <small><b>Small/Capital letter, a digit and Special character [#$@!%^&*]</b></small>
            </div>
          </div>

        </div>

        <div class="form-label-group">

          <label for="confirmPassword">
            Confirm Password
          </label>
          
          <input type="password" id="confirmPassword" class="form-control" placeholder="    Confirm Password" [formControl]="cPassword">
          
          <div [hidden]="cPassword.valid || cPassword.untouched">
            
            <div [hidden]="!cPassword.hasError('required')" class="alert alert-danger">      Confirm Password is required
            </div>
            <div [hidden]="!cPassword.hasError('mustMatch')" class="alert alert-danger">      Password & Confirm Password must match
            </div>
            
          </div>

        </div>

        <div class="form-label-group">
          <input type="file" name="profile" id="profile" (change)="onFileChange($event)" />
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <label class="custom-control-label" for="customCheck1">
              Forgot password
          </label>
        </div>
        <button [disabled]="!registerForm.valid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
        	Sign Up
        </button>
      </form>
    </div>
  </div>
</div>


