<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">ShoppingAtBest</a>
            <div class="nav-collapse collapse">                
                <ul *ngIf="!(auth.loggedIn())" class="nav pull-right">
                    <li *ngIf="(cartService.cartQTY())">
                        <a (click)="cartService.clearCart()">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Reset Cart
                            <!-- <span class="badge">{{cartService.cartQTY()}}</span> -->
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']">
                        <a routerLink="/shoppingCart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                            <span class="badge">{{cartService.cartQTY()}}</span>
                            <!-- <span class="badge">{{session.cart.totalQty}}</span> -->
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']">
                      <a routerLink="/login">
                        Login
                      </a>
                    </li>
                    <li [routerLinkActive]="['active']">
                      <a routerLink="/register">
                        Registration
                      </a>
                    </li>
                </ul> <!-- nav pull-right *ngIf="!(auth.loggedIn())" -->               
                <ul *ngIf="auth.loggedIn()" class="nav pull-right">
                    <li *ngIf="(cartService.cartQTY())">
                        <a (click)="cartService.clearCart()">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Reset Cart
                            <!-- <span class="badge">{{cartService.cartQTY()}}</span> -->
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']">
                        <a routerLink="/shoppingCart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                            <span class="badge">{{cartService.cartQTY()}}</span>
                            <!-- <span class="badge">{{session.cart.totalQty}}</span> -->
                        </a>
                    </li>  
                    <li ngbDropdown class="dropdown">
                        <a ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                          Profile 
                          <span class="caret"></span>
                        </a>
                        <ul ngbDropdownMenu class="dropdown-menu">
                          <li>
                            <a routerLink="/profile">
                              Profile
                            </a>
                          </li>
                          <li>
                            <a (click)="auth.logout()">
                              Logout
                            </a>
                          </li>
                        </ul>
                    </li>
                </ul> <!-- *ngIf="auth.loggedIn()" nav pull-right -->
                <ul class="nav">
                    <li ngbDropdown class="dropdown">
                        <a ngbDropdownToggle data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b>
                        </a>
                        <ul ngbDropdownMenu class="dropdown-menu" id="menu1">
                            <li ngbDropdown>
                                <a ngbDropdownToggle data-toggle="dropdown" class="dropdown-toggle">Tools <i class="icon-arrow-right"></i>
                                </a>
                                <ul ngbDropdownMenu class="dropdown-menu sub-menu">
                                    <li>
                                        <a href="#">Reports</a>
                                    </li>
                                    <li>
                                        <a href="#">Logs</a>
                                    </li>
                                    <li>
                                        <a href="#">Errors</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">SEO Settings</a>
                            </li>
                            <li>
                                <a href="#">Other Link</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Other Link</a>
                            </li>
                            <li>
                                <a href="#">Other Link</a>
                            </li>
                        </ul>
                    </li>
                    <li [routerLinkActive]="['active']">
                        <a>ContactUs</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" id="sidebar">
            <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">

                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/"><i class="icon-chevron-right"></i>Dashboard</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a routerLink="/home"><i class="icon-chevron-right"></i> Product Game</a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-chevron-right"></i> 
                            Statistics (Charts)
                    </a>
                </li>
                <li>
                    <a href="#"><i class="icon-chevron-right"></i> Forms</a>
                </li>
                <li>
                    <a href="#"><i class="icon-chevron-right"></i> Tables</a>
                </li>
                <li>
                    <a href="#"><i class="icon-chevron-right"></i> Buttons & Icons</a>
                </li>
                <li>
                    <a href="#"><i class="icon-chevron-right"></i> WYSIWYG Editors</a>
                </li>
                <li>
                    <a href="#"><i class="icon-chevron-right"></i> UI & Interface</a>
                </li>
                <li>
                    <a href="#"><i class="icon-chevron-right"></i> 
                        Orders
                    </a>
                </li>
            </ul>
        </div>    
        <!--/span-->
        <div class="span9" id="content">
            <div class="row-fluid">
                <flash-messages></flash-messages>
                <ngx-spinner
                    bdOpacity = 0.3
                    bdColor = "#33a1ff"
                    size = "medium"
                    color = "#fff"
                    type = "ball-clip-rotate-multiple"
                    [fullScreen] = "false">
                    <p style="color: white"> Authenticating..... </p>
                </ngx-spinner>
                <router-outlet></router-outlet>    
            </div>
        </div>
        <hr>
    </div>
</div>

