<div class="row-fluid">
	<div style="text-align:center">

		<h1>
		Welcome to Shopping At Best
		</h1>

		<img width="300" alt="Angular Logo" src="../../../assets/images/logo.png">

	</div>                
</div>
<div class="row-fluid">
    <div class="span12">
        <!-- block -->
        <div class="block" (click)="navigateTableDetail('loggedin')">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">LoggedIn</div>
                <div class="pull-right"><span class="badge badge-info">{{totalLogged}}</span>
                </div>
            </div>
            <div class="block-content collapse in">
                <p-table [value]="usersLogged">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Email</th>
                            <th>Token</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-loginUsers>
                        <tr>
                            <td>{{loginUsers.email}}</td>
                            <td>{{loginUsers.token}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!-- /block -->
    </div>
    <div class="span12" style="margin-left: 0px;">
        <!-- block -->
        <div class="block" (click)="navigateTableDetail('product')">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Products</div>
                <div class="pull-right"><span class="badge badge-info">{{totalProducts}}</span>
                </div>
            </div>
            <div class="block-content collapse in">
                <p-table [value]="products">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>TypeProduct</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.title}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.typeProduct}}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
        <!-- /block -->
    </div>
    <div class="span12" style="margin-left: 0px;">
        <!-- block -->
        <div class="block" (click)="navigateTableDetail('users')">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Users</div>
                <div class="pull-right"><span class="badge badge-info">{{totalUsers}}</span>
                </div>
            </div>
            <div class="block-content collapse in">
                <p-table [value]="users">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>User Name</th>
                            <th>email</th>
                            <th>Role</th>
                            <th>Image</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role}}</td>
                            <td>
                                <img src="{{ user.image_url }}" style="max-height: 75px; min-width: 150px;" class="img-responsive"/>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>


