<div class="row-fluid">
	<div style="text-align:center">

		<h1>
		Welcome to Shopping At Best
		</h1>

		<img width="300" alt="Angular Logo" src="../../../assets/images/logo.png">

	</div>                
</div>
<div class="row-fluid">
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Products</div>
                <div class="pull-right"><span class="badge badge-info">1,234</span>

                </div>
            </div>
            <div class="block-content collapse in">
                <p-table [value]="products">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>TypeProduct</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.title}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.typeProduct}}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
        <!-- /block -->
    </div>
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Orders</div>
                <div class="pull-right"><span class="badge badge-info">752</span>

                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Coat</td>
                            <td>02/02/2013</td>
                            <td>$25.12</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacket</td>
                            <td>01/02/2013</td>
                            <td>$335.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Shoes</td>
                            <td>01/02/2013</td>
                            <td>$29.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Clients</div>
                <div class="pull-right"><span class="badge badge-info">17</span>

                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Vincent</td>
                            <td>Gabriel</td>
                            <td>@gabrielva</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Invoices</div>
                <div class="pull-right"><span class="badge badge-info">812</span>

                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>02/02/2013</td>
                            <td>$25.12</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>01/02/2013</td>
                            <td>$335.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>01/02/2013</td>
                            <td>$29.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>

