.thumbnail  {
    padding-top: 15px; 
}
.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.products{
 
	float:left;	
	width:45%;
	padding: 0 15px;
	margin-top: 15px;
}
.products-grid{
	float:left;	
	width:100%;
	padding: 0 15px;
	margin-top: 15px;
}

.pInputText-css {

    height: 25px;
    left: 40%;
    position: absolute;
}

@media screen and (max-width: 767px) {
  .products{
 
	float:left;	
	width:90%;
	padding: 0 15px;
   }
   .pInputText-css {

	    height: 25px;
	    left: 30%;
	    position: absolute;
	}
}